In [465]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [467]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [469]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [471]:
#determine total number of columns with no data in training dataset
train_data.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [473]:
#determine total number of columns with no data in test dataset
test_data.isnull().sum()
test_data_ids = test_data['Id']
test_data = test_data.drop('Id', axis=1)

In [475]:
#differentiate normal from abnormal sale condition explicitly
train_data['SaleCondition'] = train_data['SaleCondition'].apply(lambda x: 1 if x == 'Normal' else 0)
test_data['SaleCondition'] = test_data['SaleCondition'].apply(lambda x: 1 if x == 'Normal' else 0)

In [477]:
#fix the missing column
train_data['LotFrontage'] = train_data['LotFrontage'].fillna(np.mean(train_data['LotFrontage']))
test_data['LotFrontage'] = test_data['LotFrontage'].fillna(np.mean(test_data['LotFrontage']))

In [479]:
test_data.MSZoning.fillna(value='RL', axis=0, inplace=True)

/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/2789208273.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data.MSZoning.fillna(value='RL', axis=0, inplace=True)

In [481]:
test_data.isnull().sum()

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
                ..
MiscVal          0
MoSold           0
YrSold           0
SaleType         1
SaleCondition    0
Length: 79, dtype: int64

In [483]:
test_data.SaleType.fillna(value='WD', axis=0, inplace=True)

/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/514028463.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data.SaleType.fillna(value='WD', axis=0, inplace=True)

In [485]:
test_data.isnull().sum()
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   int64
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(36), object(42)
memory usage: 924.0+ KB

In [487]:
# Function to drop stuff
def drop_columns(df, column):
    for col in column:
        df = df.drop(col, axis=1)
    return df
column = ['Alley', 'MasVnrType', 'PoolQC', 'FireplaceQu', 'Fence', 'MiscFeature', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'GarageFinish', 'GarageYrBlt', 'GarageCond']
train_data = drop_columns(train_data, column)
test_data = drop_columns(test_data, column)

In [489]:
columns_with_null = train_data.columns[train_data.isnull().any()].tolist()
print(columns_with_null)

['MasVnrArea', 'Electrical', 'GarageType', 'GarageQual']

In [491]:
train_data['MasVnrArea'].value_counts()
train_data['MasVnrArea'] = train_data['MasVnrArea'].fillna(np.mean(train_data['MasVnrArea']))
test_data['MasVnrArea'] = test_data['MasVnrArea'].fillna(np.mean(test_data['MasVnrArea']))

In [493]:
train_data.Electrical.value_counts()
train_data.Electrical.fillna(value='SBrkr', axis=0, inplace=True)
test_data.Electrical.fillna(value='SBrkr', axis=0, inplace=True)

/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/2963238808.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data.Electrical.fillna(value='SBrkr', axis=0, inplace=True)
/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/2963238808.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data.Electrical.fillna(value='SBrkr', axis=0, inplace=True)

In [495]:
train_data.GarageType.value_counts()
train_data.GarageType.fillna(value='Attchd', axis=0, inplace=True)
test_data.GarageType.fillna(value='Attchd', axis=0, inplace=True)

/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/2542037782.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data.GarageType.fillna(value='Attchd', axis=0, inplace=True)
/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/2542037782.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data.GarageType.fillna(value='Attchd', axis=0, inplace=True)

In [497]:
train_data.GarageQual.value_counts()
train_data.GarageQual.fillna(value='TA', axis=0, inplace=True)
test_data.GarageQual.fillna(value='TA', axis=0, inplace=True)

/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/3382969096.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data.GarageQual.fillna(value='TA', axis=0, inplace=True)
/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/3382969096.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data.GarageQual.fillna(value='TA', axis=0, inplace=True)

In [499]:
# Lets split our data first before encoding
X = train_data.drop(['SalePrice', 'Id'], axis=1)
y = train_data['SalePrice']

In [501]:

# Function to fill all null values
def fill_nulls(df):
    for column in df.columns:
        if df[column].dtype in ['int64', 'float64']:
            # Fill numeric columns with mean
            df[column].fillna(df[column].mean(), inplace=True)
        elif df[column].dtype == 'object':
            # Fill categorical columns with the mode
            df[column].fillna(df[column].mode()[0], inplace=True)
    return df
test_data = fill_nulls(test_data)
test_data.info()
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 65 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1459 non-null   int64
 1   MSZoning       1459 non-null   object
 2   LotFrontage    1459 non-null   float64
 3   LotArea        1459 non-null   int64
 4   Street         1459 non-null   object
 5   LotShape       1459 non-null   object
 6   LandContour    1459 non-null   object
 7   Utilities      1459 non-null   object
 8   LotConfig      1459 non-null   object
 9   LandSlope      1459 non-null   object
 10  Neighborhood   1459 non-null   object
 11  Condition1     1459 non-null   object
 12  Condition2     1459 non-null   object
 13  BldgType       1459 non-null   object
 14  HouseStyle     1459 non-null   object
 15  OverallQual    1459 non-null   int64
 16  OverallCond    1459 non-null   int64
 17  YearBuilt      1459 non-null   int64
 18  YearRemodAdd   1459 non-null   int64
 19  RoofStyle      1459 non-null   object
 20  RoofMatl       1459 non-null   object
 21  Exterior1st    1459 non-null   object
 22  Exterior2nd    1459 non-null   object
 23  MasVnrArea     1459 non-null   float64
 24  ExterQual      1459 non-null   object
 25  ExterCond      1459 non-null   object
 26  Foundation     1459 non-null   object
 27  BsmtFinSF1     1459 non-null   float64
 28  BsmtFinSF2     1459 non-null   float64
 29  BsmtUnfSF      1459 non-null   float64
 30  TotalBsmtSF    1459 non-null   float64
 31  Heating        1459 non-null   object
 32  HeatingQC      1459 non-null   object
 33  CentralAir     1459 non-null   object
 34  Electrical     1459 non-null   object
 35  1stFlrSF       1459 non-null   int64
 36  2ndFlrSF       1459 non-null   int64
 37  LowQualFinSF   1459 non-null   int64
 38  GrLivArea      1459 non-null   int64
 39  BsmtFullBath   1459 non-null   float64
 40  BsmtHalfBath   1459 non-null   float64
 41  FullBath       1459 non-null   int64
 42  HalfBath       1459 non-null   int64
 43  BedroomAbvGr   1459 non-null   int64
 44  KitchenAbvGr   1459 non-null   int64
 45  KitchenQual    1459 non-null   object
 46  TotRmsAbvGrd   1459 non-null   int64
 47  Functional     1459 non-null   object
 48  Fireplaces     1459 non-null   int64
 49  GarageType     1459 non-null   object
 50  GarageCars     1459 non-null   float64
 51  GarageArea     1459 non-null   float64
 52  GarageQual     1459 non-null   object
 53  PavedDrive     1459 non-null   object
 54  WoodDeckSF     1459 non-null   int64
 55  OpenPorchSF    1459 non-null   int64
 56  EnclosedPorch  1459 non-null   int64
 57  3SsnPorch      1459 non-null   int64
 58  ScreenPorch    1459 non-null   int64
 59  PoolArea       1459 non-null   int64
 60  MiscVal        1459 non-null   int64
 61  MoSold         1459 non-null   int64
 62  YrSold         1459 non-null   int64
 63  SaleType       1459 non-null   object
 64  SaleCondition  1459 non-null   int64
dtypes: float64(10), int64(26), object(29)
memory usage: 741.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 65 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1460 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   LotShape       1460 non-null   object
 6   LandContour    1460 non-null   object
 7   Utilities      1460 non-null   object
 8   LotConfig      1460 non-null   object
 9   LandSlope      1460 non-null   object
 10  Neighborhood   1460 non-null   object
 11  Condition1     1460 non-null   object
 12  Condition2     1460 non-null   object
 13  BldgType       1460 non-null   object
 14  HouseStyle     1460 non-null   object
 15  OverallQual    1460 non-null   int64
 16  OverallCond    1460 non-null   int64
 17  YearBuilt      1460 non-null   int64
 18  YearRemodAdd   1460 non-null   int64
 19  RoofStyle      1460 non-null   object
 20  RoofMatl       1460 non-null   object
 21  Exterior1st    1460 non-null   object
 22  Exterior2nd    1460 non-null   object
 23  MasVnrArea     1460 non-null   float64
 24  ExterQual      1460 non-null   object
 25  ExterCond      1460 non-null   object
 26  Foundation     1460 non-null   object
 27  BsmtFinSF1     1460 non-null   int64
 28  BsmtFinSF2     1460 non-null   int64
 29  BsmtUnfSF      1460 non-null   int64
 30  TotalBsmtSF    1460 non-null   int64
 31  Heating        1460 non-null   object
 32  HeatingQC      1460 non-null   object
 33  CentralAir     1460 non-null   object
 34  Electrical     1460 non-null   object
 35  1stFlrSF       1460 non-null   int64
 36  2ndFlrSF       1460 non-null   int64
 37  LowQualFinSF   1460 non-null   int64
 38  GrLivArea      1460 non-null   int64
 39  BsmtFullBath   1460 non-null   int64
 40  BsmtHalfBath   1460 non-null   int64
 41  FullBath       1460 non-null   int64
 42  HalfBath       1460 non-null   int64
 43  BedroomAbvGr   1460 non-null   int64
 44  KitchenAbvGr   1460 non-null   int64
 45  KitchenQual    1460 non-null   object
 46  TotRmsAbvGrd   1460 non-null   int64
 47  Functional     1460 non-null   object
 48  Fireplaces     1460 non-null   int64
 49  GarageType     1460 non-null   object
 50  GarageCars     1460 non-null   int64
 51  GarageArea     1460 non-null   int64
 52  GarageQual     1460 non-null   object
 53  PavedDrive     1460 non-null   object
 54  WoodDeckSF     1460 non-null   int64
 55  OpenPorchSF    1460 non-null   int64
 56  EnclosedPorch  1460 non-null   int64
 57  3SsnPorch      1460 non-null   int64
 58  ScreenPorch    1460 non-null   int64
 59  PoolArea       1460 non-null   int64
 60  MiscVal        1460 non-null   int64
 61  MoSold         1460 non-null   int64
 62  YrSold         1460 non-null   int64
 63  SaleType       1460 non-null   object
 64  SaleCondition  1460 non-null   int64
dtypes: float64(2), int64(34), object(29)
memory usage: 741.5+ KB

/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/2548661773.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
/var/folders/h8/19h5sq255tvd7309yghg4ycr0000gn/T/ipykernel_65890/2548661773.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)

In [503]:
# Concatenate dataframes in a row-wise manner
final_df = pd.concat([X, test_data], axis=0)

In [507]:
final_df.shape

(2919, 65)

In [547]:
# Lets encode categorical features
def encode_categorical(df): 
    """
    Encodes categorical columns within the given dataframe using one-hot encoding

    Parameters:
    - df: the dataframe to be manipulated

    Returns:
    df_encoded - dataframe with encoded categorical columns
    
    """
    # Work on a copy of the dataframe
    df = df.copy()
    
    # Identify categorical columns
    categorical_columns = df.select_dtypes(include=['object']).columns

    encoded_df = pd.get_dummies(df, columns=categorical_columns, drop_first=False)            
            

    return encoded_df
main_df = encode_categorical(final_df)
main_df.shape

(2919, 228)

In [557]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2919 entries, 0 to 1458
Columns: 228 entries, MSSubClass to SaleType_WD
dtypes: bool(192), float64(10), int64(26)
memory usage: 1.4 MB

In [559]:
# Split into equal parts
df_Train = main_df.iloc[:1460,:]
df_Test = main_df.iloc[1460:,:]

df_Test.shape

(1459, 228)

In [561]:
# Import random forest regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Split the data
X_train, X_test, y_train, y_test = train_test_split(df_Train, y, test_size=0.33, random_state=42)

# Initialize the model
rf = RandomForestRegressor(n_estimators=200, random_state=42)

# Fit the model
rf.fit(X_train, y_train)

# Predict
y_hat = rf.predict(X_test)

# Mean squared error
mse = mean_squared_error(y_test, y_hat)
print(f"MSE: {mse:.2f}")

#r2 score
r2 = r2_score(y_test, y_hat)
print(f"R2: {r2:.2f}")

MSE: 967944670.95
R2: 0.87

In [563]:
Prices = rf.predict(df_Test)

In [565]:
data = pd.DataFrame({'Id':test_data_ids.values, 
                     'Price':Prices
    
                    })

In [569]:
# Save to CSV file
data.to_csv('HousePriceSubmission.csv', index=False)